@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 98%; /* #f9f9f9 */
    --foreground: 222 15% 10%; /* #1a1c1c */

    --primary: 355 83% 37%; /* #af101a - El Rojo Davivienda */
    --primary-foreground: 0 0% 100%;

    --surface: 0 0% 100%;
    --surface-variant: 0 0% 93%; /* #eeeeee */
    
    --border: 220 13% 91%;
    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-[var(--background)] text-[var(--foreground)] antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}